@use '../base/' as *;
@use '../components/' as *;

/*
CONTACT 
*/
.contact {
    width: 100%;
    // background: rgb(149, 123, 192);
    background: $dark-purple;
    // background:  $lighter-purple url(/images/clouds.jpg) center/cover no-repeat;
    // background: $dark-purple;
    // background-blend-mode: multiply;
    min-height: 100vh;
    display: grid;
    place-items: center;

    .contact-section {
        padding: 3rem 0;
        width: 90vw;
        margin: auto;
        // background: $dark-purple;
        
        h2 {
            color: $white;
        }
    }

    .contact-modes {
    //    border: 3px solid white;
        // background: $dark-purple;
        width: 90vw;
        // width: 100%;
        display: grid;
        // place-items: center;
        grid-template-columns: 1fr;
        align-items: center;
        margin: auto;
        // padding: 3rem 0;
        // margin-bottom: 7rem;

        // box-shadow: 5px 5px 30px rgba(0, 0,0,0.6);
        // background: transparent;
        // backdrop-filter: blur(15px) brightness(1.1);
        // border-radius: 8px;

        .form {
            display: grid;
            width: 100%;
            place-items: center;
            padding: 4rem 0;
        }
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 90vw;
        // max-width: 1400px;

        .contact-info {
            color: white;
            font-family: $text-color;
            width: 100%;
            margin: auto;
            text-align: left;
            height: 100%;

            .telephone,
            .email,
            .hours,
            .address {
                // border: 2px solid red;
                padding: 1rem;
                font-size: 1rem;

                .underline {
                    width: 100%;
                    height: 1px;
                }

                p {
                    padding-top: 0.5rem;
                    // text-indent: 0.5rem;
                }

                li{
                    // text-indent: 2rem;
                }

                h4 {
                    padding-bottom: 0.25rem;
                    text-transform: uppercase;
                }

                a {
                    &:hover {
                        font-weight: bold;
                        color: $main-accent-clr;
                    }
                }
            }

            
            .schedule {
                background: $main-accent-clr;
            }
        }

        .map {
            width: 100%;
            height: 100%;
            border: 2px solid red;
            // background: transparent;

            iframe {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
            }
        }

        @media screen and (min-width: 992px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100%;
            width: 100%;
            column-gap: 2rem;
            align-items: center;
            padding-bottom: 4rem;
        }
    }
}


// .contact-info .btn {
//     width: 100%;
//     margin: 0;
// }

