@use '../base/' as *;
@use '../components/' as *;

/*
CONTACT 
*/
.contact {
    width: 100%;
    background: #1B012C;
    min-height: 100vh;
    display: grid;
    place-items: center;

    .contact-section {
        padding: 3rem 0;
        width: 90vw;
        margin: auto;
        
        h2 {
            // color: $white;
            color: $snowwhite;
        }
    }

    .contact-modes {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: auto;

        .form {
            display: grid;
            width: 100%;
            place-items: center;
            padding: 4rem 0;
        }
    }
}



