@use '../base/' as *;
@use '../components/' as *;


/*
FAQ section
*/
.faq {
    /* width: 100%; */
    
}

.faq-container {
    margin: auto;
    max-width: 1400px;
    width: 90vw;
}

.section-faq h2 {
    color: $dark-purple;
}

.img-container {
    width: 100%;
}

.faq-image {
    width: 100%;
    display: block; 
}

.questions-container {
    margin-bottom: 3rem;
}

.questions {
    display: grid;
    gap: 2rem;
    
}


.faq-btn {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        // color: $main-accent-clr;
        transform: rotate(90deg) scale(1.2);
    }
}

.open-btn:hover, .close-btn:hover {
    // color: $main-accent-clr;
    // transform: rotate(360deg);
}

.question {
    width: 100%;
    background-color: #fffcfc;
}

.question-title {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    align-items: center;
    box-shadow: $box-shadow;
}

.question-title h4 {
    font-family: $main-text;
    color: $text-color;
    font-size: 1.2rem;
}


.question-text {
    padding: 2rem;
    border-top: 1px solid darkgray;
    // margin-bottom: 2rem;
    box-shadow: $box-shadow;
    transition: $transition-hamburger;
}

.question-text p {
    line-height: 1.7;
}

.question-text span {
    font-weight: bold;
}

/* hide */
.question-text {
    display: none;
}

.close-btn {
    display: none;
}


/* show  */
.show .question-text{
    display: block;
    transition: $transition-hamburger
}

.show .close-btn {
    display: inline;
}

.show .open-btn {
    display: none;
}
