@use '../base/' as *;
@use '../components/' as *;


/*
FAQ section
*/
.faq {
    /* width: 100%; */
    
}

.faq-container {
    margin: auto;
    max-width: 1400px;
    width: 90vw;
    // background: white;
    // border: 2px solid black;
}

.section-faq h2 {
    color: $lighter-purple;
}

.img-container {
    width: 100%;
}

.faq-image {
    width: 100%;
    display: block; 
}

.questions-container {
    margin-bottom: 3rem;
}

.questions {
    display: grid;
    gap: 2rem;
}


.faq-btn {
    background: transparent;
    color: white;
    border: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    // &:hover {
    //     // color: $main-accent-clr;
    //     transform: rotate(90deg) scale(1.2);
    // }
}

.open-btn, .close-btn {
    border: none;
    background: $lighter-purple;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}

.close-btn {
    display: none;
}

.open-btn:hover, .close-btn:hover {
    // color: $main-accent-clr;
    // transform: rotate(360deg);
}

.question {
    width: 100%;
    // background-color: #fffcfc;
    border-radius: 5px;
}

.question-title {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    align-items: center;
    border-bottom: 1px solid darkgray;
    // box-shadow: $box-shadow;
}

.question-title h4 {
    font-family: $main-text;
    color: $text-color;
    font-size: 1.2rem;
}


.question-text {
    padding: 2rem;
    // border-top: 1px solid darkgray;
    // margin-bottom: 2rem;
    // box-shadow: $box-shadow;
    transition: $transition-hamburger;
    // box-shadow: inset 5px 5px 30px darkgray;
    
}

.question-text p {
    line-height: 1.7;
}

.question-text span {
    font-weight: bold;
}

/* hide */
.question-text {
    display: none;
}


/* show  */
.show .question-text{
    display: block;
    transition: $transition-hamburger
}

.show .close-btn {
    display: grid;
}

.show .open-btn {
    display: none;
}


// media query
@media screen and (min-width: 992px){
    .questions {
        grid-template-columns: 1fr;
    }
}