@use '../base/' as *;
@use '../components/' as *;

/*
SERVICES SECTION 
*/
.services {
    
}

.services-section {
    width: 90vw;
    max-width: 1400px;
    display: grid;
    justify-content: center;
    // margin: auto;
    
    /* column-gap: 3rem; */
    row-gap: 3rem;
    margin: 4rem auto;
}

.individual, .couples, .group, .evaluations {
    width: 100%;
    background-color: rgb(250, 245, 245);
    // border: 2px solid black;
    // position: relative;
    box-shadow: $box-shadow;

    
}
.img-wrapper {
    width: 100%;
    

    h3 {
        color: $main-text;
        font-size: 2rem;
        text-align: center;
        transform: translateY(-150%);
        background: $white;
    }
}

.img-wrapper img {
    width: 100%;
    object-fit: contain;
}

.button-container {
    width: 100%;
    display: grid;
    place-items: center;

    .learn-more-btn{
        border-color: $lighter-purple;
        color: $lighter-purple;
    }
}