/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Open+Sans&display=swap');

/* VARIABLES */
:root {
    --main-text: 'Open Sans', sans-serif;
    --heading-text: 'Cinzel', serif;
    --primary-clr:  #303030;
    /* --secondary-clr:  */
    --transition-main: all 0.4s linear;
    --transition-hamburger:  all 0.5s ease-in-out;
    --link-clr: #3E007F;
    --brand-clr: #8004CE;
    --background-clr: #EADEDA;
    --accent-1: #EFBDEB;
    --accent: #D29402;

}


/* resets */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
    height: 100vh;
    margin: auto;
    font-size: 16px;
    font-family: var(--main-text);
    color: var(--primary-clr);
    scroll-behavior: smooth;
}

h1 {
    font-family: var(--heading-text);
    color: var(--brand-clr);
    /* padding-bottom: 2rem; */
}

.btn {
    padding: 1.6rem;
    background: var(--accent);
    color: white;
    text-transform: uppercase;
    margin: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: var(--transition);
    cursor: pointer;
    border: none;
}

.btn:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

/* MOBILE NAVBAR */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 2;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px 5px darkgray;
}

.brand-wrapper {
    
}

.mobile-nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

/* hamburger menu */
.hamburger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-btn {
    width: 40px;
    height: 4px;
    background: var(--brand-clr);
    transition: var(--transition-hamburger);
}

.hamburger-btn::before, .hamburger-btn::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--brand-clr);
    transition: var(--transition-hamburger);
}

.hamburger-btn::before {
    transform: translateY(-12px);
}

.hamburger-btn::after {
    transform: translateY(12px);
}

/* animation to open/close hamburger */
.open-hamburger {
    /* hides middle line when clicked */
    background: none;
}

.open-hamburger::before {
    transform: rotate(45deg);
    
}

.open-hamburger::after {
    transform: rotate(-45deg);
}

.logo {
    width: 5.1rem;
    height: 100%;
    cursor: pointer;
    display: block;
    transition: var(--transition);
}

.logo:hover {
    transform: scale(1.1);
}


.desktop-nav {
    display: none;
}

.brand {
    letter-spacing: 0.09rem;
}

.brand-subtext {
    letter-spacing: 0.05rem;
    color: var(--brand-clr);
}



.nav-links {
    list-style-type: none;
    background: white;
    overflow: hidden;
    height: 0;
    align-items: center;
}

/* to toggle mobile links visibility */
.show-links {
    height: 280px;
}

.nav-links li {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.nav-link{
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 1rem;
    display: block;
    transition: var(--transition);
    text-transform: capitalize;
}

/* unvisited link */
a:link, a:visited {
    color: #3E007F;
}

/* seleted link and hover */
.nav-link:hover {
    background-color: #dbba6c;
    padding: 1rem 1rem 1rem 2rem;
}

a:active {
    text-decoration: underline;
}

/* HERO SECTION */
.wrapper {
    width: 100%;
    height: 100vh;
    top: 0;
    color: var(--accent);
    /* background: var(--link-clr) url("./images/hero.jpg") no-repeat fixed right/cover; */
    background: var(--link-clr) url("./images/hero.jpg") no-repeat fixed right/cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;
}

.learn-more {
    background-color: transparent;
    border: 1px solid white;
}

.buttons {
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 768px) {
    .brand-text-mobile {
        font-size: 1.6rem;
    }

    .hero-text {
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }

    .brand {
        font-size: 2rem;
    }

    .brand-subtext {
        font-size: 1.2rem;
        letter-spacing: 0.12rem;
    }


    /* .btn {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        padding: 1.5rem;
    } */
}

@media screen and (min-width: 992px){
    .buttons {
        flex-direction: row;
    }
}

/* DESKTOP */
@media screen and (min-width: 1300px) {
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        align-items: center;
    }
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .nav-links {
        display: flex;
        height: 100%;
    }

    .nav-link {
        font-size: 1.3rem;
        height: 100%;
        letter-spacing: 0.15rem;
    }

    .nav-link:active {
        text-decoration: underline;
    }

    .nav-link:hover {
        color: var(--accent);
        background: transparent;
        padding: 1rem 1rem 1rem 1rem;
    }

    .logo {
        width: 150px;
    }

    .brand-text-desktop {
        display: flex;
        flex-direction: column;
    }

    .brand {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }

    .brand-subtext {
        letter-spacing: 0.21rem;
    }

    .brand-text-mobile {
        display:none;
    }

    .hamburger {
        display: none;
    }
}