/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Open+Sans&display=swap');

/* VARIABLES */
:root {
    --main-text: 'Open Sans', sans-serif;
    --heading-text: 'Cinzel', serif;
    --primary-clr:  #303030;
    /* --secondary-clr:  */
    --transition-main: all 0.4s linear;
    --transition-hamburger:  all 0.5s ease-in-out;
    --link-clr: #3E007F;
    --brand-clr: #8004CE;
    --background-clr: #EADEDA;
    --accent-1: #EFBDEB;
    --accent: #D29402;

}


/* resets */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
    height: 100vh;
    margin: auto;
    font-size: 16px;
    font-family: var(--main-text);
    color: var(--primary-clr);
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-text);
    color: var(--brand-clr);
    /* padding-bottom: 2rem; */
}

ul {
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:visited, a:link {
    color: var(--link-clr);
}

.btn {
    /* padding: 1.5rem; */
    width: 325px;
    height: 75px;
    background: var(--brand-clr);
    color: white;
    text-transform: uppercase;
    margin: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: var(--transition);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.5;
}

.center {
    max-width: 1400px;
}

.highlight {
    color: var(--accent);
}

/* MOBILE NAVBAR */
.header {
    width: 100%;
}
.center {
    width: 100%;
}

.nav {
    width: 100%;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 2;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px 5px darkgray;
}

.mobile-nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    background: white;
    overflow: hidden;
    height: 0;
    align-items: center;
    transition: var(--transition-main);
    /* background-color: var(--accent-1); */
    /* padding-top: 1rem; */
}

.nav-link:hover {
    background: var(--accent-1);
}

/* dropdown menu */
.nav-link, .dropbtn {
    display: block;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    padding: 0.75rem 1rem;
    transition: var(--transition-main);
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.dropdown-content {
    display: none;
    position: static;
    max-width: 100%;
    z-index: 1;
    /* transition: all 6s ease-in-out; */
}

.dropdown-content .nav-link {
    padding: 12px 16px;
    /* display: block; */
    width: 100%;
    text-align: left;
    padding-left: 50px;
    transition: var(--transition-main);
}

/* caret */
.open {
    display: block;
    transition: var(--transition-hamburger);
}

.caret-open {
    transform: translateX(10px) rotate(-90deg)  scaleX(1.4);
    color: var(--accent);
    font-weight: bold;
    transition: var(--transition-hamburger);
}

#caret-1, #caret-2 {
    transition: all 0.5s linear;
}

/* to toggle mobile links visibility */
.show-links {
    height: calc(100vh - 75px);
}

a:active {
    text-decoration: underline;
}

/* hamburger menu */
.hamburger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-btn {
    width: 40px;
    height: 4.5px;
    background: var(--brand-clr);
    transition: var(--transition-hamburger);
}

.hamburger-btn::before, .hamburger-btn::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4.5px;
    background: var(--brand-clr);
    transition: var(--transition-hamburger);
}

.hamburger-btn::before {
    transform: translateY(-12px);
}

.hamburger-btn::after {
    transform: translateY(12px);
}

/* animation to open/close hamburger */
.open-hamburger {
    /* hides middle line when clicked */
    background: none;
}

.open-hamburger::before {
    transform: rotate(45deg);
    background: var(--accent);
}

.open-hamburger::after {
    transform: rotate(-45deg);
    background: var(--accent);
}

.logo {
    width: 5.1rem;
    height: 100%;
    cursor: pointer;
    display: block;
    transition: var(--transition-main);
}

.logo:hover {
    transform: scale(1.1);
}

.desktop-nav {
    display: none;
}

.brand {
    letter-spacing: 0.09rem;
}

.brand-subtext {
    letter-spacing: 0.05rem;
    color: var(--brand-clr);
}

/* HERO SECTION */
.wrapper {
    width: 100%;
    height: 100vh;
    top: 0;
    color: var(--accent);
    background: var(--link-clr) url("./images/hero.jpg") no-repeat fixed right/cover;
    background-blend-mode: multiply;
    display: grid;
    place-items: center;
}

.hero-text-wrapper {
    width: 90vw;
}

.hero-text {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;
    font-family: var(--main-text);
    text-transform: capitalize;
}

.learn-more {
    background-color: transparent;
    border: 1px solid white;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.learn-more:hover {
    background-color: var(--brand-clr);
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr ;
    column-gap: 4rem;
    max-width: 1400px;
}

.links a {
    font-size: 1rem;
    letter-spacing: 0.05;
    padding: 0.15rem;
    color: lightgray
}
.footer-cta .logo {
    width: 5rem;
}

.footer-brand {
    padding-left: 0.25rem;
}

.brand-footer {
    font-size: 1.7rem;
}

.p-footer {
    color: var(--brand-clr);
    font-size: 1.15rem;
}

small {
    text-align: center;
    padding: 0.5rem;
    color: lightgray;
}






/* MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 768px) {
    .hero-text {
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }

    .brand {
        font-size: 2rem;
    }

    .brand-subtext {
        font-size: 1.2rem;
        letter-spacing: 0.12rem;
    }


    /* .btn {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        padding: 1.5rem;
    } */
}

@media screen and (min-width: 992px){
    .buttons {
        flex-direction: row;
    }
}

/* DESKTOP */
@media screen and (min-width: 1300px) {
    .mobile-nav {
        display: none;
    }

    .navbar {
        width: 100%;
    }

    .nav {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: space-between;
        margin: auto;
    }

    .desktop-nav {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nav-links {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: flex-end;
    }

    .nav-link {
        font-size: 1.3rem;
        height: 100%;
        letter-spacing: 0.15rem;
    }

    .nav-link:active {
        text-decoration: underline;
    }

    .nav-link:hover {
        color: var(--accent);
        background: transparent;
        /* padding: 1rem 1rem 1rem 1rem; */
    }

    .dropdown-content {
        position: fixed;
        background: white;   
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content .nav-link{
        padding-left: 16px;
    }

    .logo {
        width: 150px;
    }

    /* .brand-text-desktop {
        /* display: flex;
        flex-direction: column; 
    } */

    .brand {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }


    .hero-text {
        text-align: left;
        font-size: 6rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: capitalize;
        font-weight: 100;
    }

    .buttons {
        padding-top: 2rem;
    }
    .schedule {
        margin-left: 0;
    }
}

