@use '../base/' as *;
@use '../components/' as *;

.all-services {
    // width: 90vw;
    // max-width: 1400px;
    // min-height: calc(100vh - 75px);
    min-height: 100vh;
    margin-top: 75px;

    // height: 450px;
    // margin: auto;
    // margin-top: auto;
    overflow: hidden;
    // display: grid;
    // align-items: center;
    
    margin-bottom: 3rem;
    // margin-bottom: 22rem;
    
    // background: lightgray;

    // .alert h3 {
    //     text-align: center;
    //     padding: 3rem;
    //     background: hsla(269, 100%, 25%, 75%);
    //     color: white;
    // }

    // .all-services-section{

        // width: 100%;
        position: relative;
        // border: 3px solid red;
        margin: 100 auto;
        // margin:  3rem auto;
        // overflow: hidden;

        .btn-box {
            // display: flex;
            border-bottom: 1px solid #ccc;
            

            .btn-services {
                background: transparent;
                color: $lighter-purple;
                padding: 0;
                margin: 0;
                text-align: left;
                height: 2.5rem;

                @media screen and (min-width: 768px){
                    height: 4rem;
                    // text-align: center;
                }

                @media screen and (min-width: 992px){
                    margin-top: 4rem;
                }

            
            }

            @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                
                margin-top: 1rem;
            }

            @media screen and (min-width: 992px){
                flex-wrap: nowrap;
                justify-content: center;
                
            }
        }

    
        .content {
            position: absolute;
            transform: translateX(150%);
            
            .content-left, .content-right {
                height: 100%;
            }
            
            .content-left {
                // padding: 1rem;
                p {
                    padding: 1rem 0;
                    // margin: 3rem 0;
                }

                h2 {
                    padding: 1rem 0;
                    // border: 2px solid yellow;
                }

                .schedule {
                    margin: 2rem 0 0 0;
                    // width: 100%;
                }

                @media screen and (min-width: 768px) {
                    padding: 1rem;
                }
            }

            .content-right {

                img {
                    display: none;
                }

            }

            @media screen and (min-width: 768px){
                display: grid;
                grid-template-columns: 1fr;

                .content-left {
                    flex-basis: 50%;
                    height: 100%;
                }
                .content-right {
                    flex-basis: 50%;
                    height: 100%;

                    img {

                        
                        @media screen and (min-width: 768px){
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: $border-radius;
                        }   
                    }

                }
            }

            @media screen and (min-width: 992px){
                grid-template-columns: 1fr 1fr;
            }
        
        }

        .show-content {
            transform: translateX(0);
            transition: $transition-hamburger;
            transition-delay: 0.4ms;
        }

    // @media screen and (min-width: 768px){
    //     height: 50vh;
    // }
}



// .btn-box {
//     display: flex;
//     // justify-content: space-between;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border-bottom: 1px solid #ccc;

//     button {
//         background: transparent;
//         border: none;
//         outline: none;
//         cursor: pointer;
//         color: $dark-purple;
//         font-weight: bold;
//         width: 100%;
//         margin: 0;
//         border-top: 1px solid darkgrey;
//         box-shadow: $box-shadow;
//         // outline: 1px;
//         // padding: 0.8rem 1rem;

//             &:hover {
//                 text-decoration: underline;
//                 // background: rgb(252, 241, 180);
//                 opacity: 1;
//             }
//     }
// }


// .content {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     // margin: 5% auto;

//     // position: absolute;
//     transform: translateX(100%);
//     transition: $transition-hamburger;
//     // box-shadow: $box-shadow;
//     // padding-top: 2rem;
//     display: none;
//     border: 2px solid yellow;

//     .content-right, .content-left {
//         width: 100%;
//         height: auto;
//         flex-basis: 50%;

//         img {
//             display: none;
//         }
//     }

//     .content-left {
//         height: 100%;

//         p {
//             padding: 1rem;
//         }

//         h2 {
//             padding: 1rem;
//         }
//     }
// }

// .show-content {
//     transform: translateX(0);
//     transition: $transition-hamburger;
//     transition-delay: 0.4s;
//     display: grid;
// }

// // .show-service {
// //     display: block;
// // }

// // show/hide 
// .btn-box .active {
//     border-radius: 0;
//     // border-bottom: 3px solid $lighter-purple;
//     background: $main-accent-clr;
//     transition: $transition-hamburger;
// }



// @media screen and (min-width: 768px){
//     .alert {
//         h3 {
//             padding: 0;
//         }
//     }
// }

// @media screen and (min-width: 992px){

//     .all-services {
//         margin-bottom: 0;
//     }    

//     .all-services-section {
//         margin-top: 3rem;
//     }

//     .btn-box {
//         flex-direction: row;
//         justify-content: space-between;
//         border-bottom: 1px solid #ccc;
//         padding-bottom: 1rem 0;

//         button {
//             background: transparent;
//             border: none;
//             outline: none;
//             cursor: pointer;
//             color: $dark-purple;
//             font-weight: bold;
//             // padding: 0.8rem 1rem;

//                 &:hover {
//                     text-decoration: underline;
//                     // color: $main-accent-clr;
//                     opacity: 1;
//                 }
//         }
//     }

//     .content {
//         // display: grid;
//         grid-template-columns: 1fr 1fr;
//         // justify-content: center;
//         // align-items: center;
//         position: absolute;
//         transform: translateX(100%);
//         transition: $transition-hamburger;
//         // padding-bottom: 2rem;
//         // display: block;

//         .content-left, .content-right {
//             width: 100%;
//             height: 100%;
//             padding: 1rem 0;
//         }

//         .content-left {
//             background: white;
//             p {
//                 padding: 1rem;
//             }

//             h2 {
//                 padding: 1rem;
//             }
//         }

//         .content-right {
//             width: 100%;
//             padding: 0;

//             img {
//                 display: block;
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//                 // border-radius: $border-radius;
//                 border-top-left-radius: none;
//                 border-bottom-left-radius: none;
//             }
//         }

//     }

//     .show-content {
//         transform: translateX(0);
//         transition: $transition-hamburger;
//         transition-delay: 0.4s;
//     }

// }