@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #303030;
}

a:visited,
a:link {
  color: #ffffff;
}

a:active {
  text-decoration: underline;
}

ul {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.underline {
  width: 100px;
  height: 0.25rem;
  background-color: #D29402;
  margin: auto;
  /* transform: translateX(-1.9rem); */
}

.section-title {
  padding: 3rem;
}
.section-title h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #8004CE;
}

.center {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
}

.highlight {
  color: #D29402;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  width: 20rem;
  height: 4rem;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  margin: 1rem;
  border: none;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  transition: all 0.4s linear;
  background: #8004CE;
  color: #ffffff;
}
.btn:hover {
  opacity: 0.5;
}

.learn-more-btn {
  background: transparent;
  border: 2x solid #ffffff;
  text-align: center;
  display: grid;
  place-items: center;
  font-weight: bold;
}
.learn-more-btn:hover {
  background: transparent;
  border: 2px solid #8004CE;
}

.send-message-btn {
  width: 100%;
  height: 50px;
  margin: 1.5rem 0;
  background: transparent;
  border: 2x solid #ffffff;
}
.send-message-btn:hover {
  background: #D29402;
}

.hamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger .hamburger-btn {
  width: 30px;
  height: 2.5px;
  background: #D29402;
}
.hamburger .hamburger-btn::before, .hamburger .hamburger-btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2.5px;
  background: #D29402;
  transition: all 0.75s ease-in-out;
}
.hamburger .hamburger-btn::before {
  transform: translateY(-9px);
}
.hamburger .hamburger-btn::after {
  transform: translateY(9px);
}
.hamburger .open-hamburger {
  background: transparent;
}
.hamburger .open-hamburger::before {
  transform: rotate(45deg);
  background: #D29402;
}
.hamburger .open-hamburger::before:hover {
  transform: scale(1.6);
}
.hamburger .open-hamburger::after {
  transform: rotate(-45deg);
  background: #D29402;
  color: #3E007F;
}
@media screen and (min-width: 1100px) {
  .hamburger {
    display: none;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropbtn {
  display: block;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.dropdown .caret {
  transition: all 0.5s linear;
}
.dropdown .caret-open {
  transform: translateX(10px) rotate(-90deg) scaleX(1.4);
  color: #D29402;
  font-weight: bold;
}
.dropdown .dropdown-content {
  display: none;
  position: static;
  max-width: 100%;
  z-index: 1;
}
.dropdown .dropdown-content:hover {
  display: block;
}
.dropdown .dropdown-content .nav-link {
  width: 100%;
  text-align: left;
  padding-left: 50px;
  margin-left: 25px;
}
@media screen and (min-width: 1100px) {
  .dropdown .dropdown-content .nav-link {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 1rem;
  }
  .dropdown .dropdown-content .nav-link:hover {
    color: #D29402;
  }
}
@media screen and (min-width: 1100px) {
  .dropdown .dropdown-content {
    position: fixed;
    background: black;
  }
}
.dropdown .open {
  display: block;
}

/* MOBILE NAVBAR */
.navbar {
  width: 100%;
  height: 100%;
  background: transparent;
}
.navbar .nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .nav .nav-header {
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  margin: auto;
}
.navbar .nav .nav-header .nav-logo {
  width: 4rem;
  height: 100%;
  cursor: pointer;
  display: block;
  transition: all 0.4s linear;
}
.navbar .nav .nav-header .nav-logo:hover {
  transform: scale(1.1);
}
.navbar .nav .nav-header .brand-wrapper {
  display: grid;
  place-items: center;
}
.navbar .nav .nav-header .brand-wrapper .brand {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: lightgray;
}
.navbar .nav .nav-header .brand-wrapper .brand span {
  display: none;
}
@media screen and (min-width: 1100px) {
  .navbar .nav .nav-header .brand-wrapper .brand span {
    display: inline;
  }
}
.navbar .nav .nav-links {
  width: 100%;
  height: 100%;
  list-style-type: none;
  background: black;
  overflow: hidden;
  height: 0;
  align-items: center;
  transition: all 0.4s linear;
  /* background-color: var(--accent-1); */
}
.navbar .nav .nav-links .nav-link {
  display: block;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #ffffff;
}
.navbar .nav .nav-links .nav-link:hover {
  color: #D29402;
  font-weight: bold;
}
@media screen and (min-width: 1100px) {
  .navbar .nav .nav-links .nav-link:active {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1100px) {
  .navbar .nav .nav-links {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
  }
}
.navbar .nav .show-links {
  padding-bottom: 1rem;
  height: auto;
  transition: all 0.4s linear;
}
@media screen and (min-width: 1100px) {
  .navbar .nav {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    margin: auto;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 500px;
  color: white;
  font-family: "Open Sans", sans-serif;
}
form h3 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1.5rem;
  letter-spacing: 0.15rem;
}
form input,
form textarea {
  color: "Open Sans", sans-serif;
  padding: 1rem;
  background: #FFFAFA;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
form input {
  border: none;
  border-bottom: 2px solid "Open Sans", sans-serif;
  margin-bottom: 1.5rem;
}
form textarea {
  border: none;
  border-bottom: 2px solid "Open Sans", sans-serif;
}
form ::placeholder {
  color: white;
  font-family: "Open Sans", sans-serif;
}
form .send-message-btn {
  background: #D29402;
  color: #3E007F;
  font-weight: bold;
  margin-bottom: 0;
}
.header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: black;
  z-index: 2;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  width: 100%;
  top: 0;
  background: #3E007F url("/images/hero.jpg") no-repeat fixed right/cover;
  background-blend-mode: multiply;
}
.hero .hero-text-wrapper {
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.hero .hero-text-wrapper .hero-text {
  width: 100%;
}
.hero .hero-text-wrapper .hero-text h2 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  padding-bottom: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  height: 100%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .hero .hero-text-wrapper .hero-text h2 {
    text-align: center;
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .hero .hero-text-wrapper .hero-text h2 {
    text-align: left;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero-text-wrapper .hero-text h2 {
    text-align: left;
    font-size: 5rem;
  }
}
.hero .hero-text-wrapper .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero .hero-text-wrapper .buttons .schedule {
  margin: 1rem 0;
}
.hero .hero-text-wrapper .buttons .learn-more-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  margin: 1rem 0;
}
.hero .hero-text-wrapper .buttons .learn-more-btn:hover {
  border: 2px solid #ffffff;
  background: transparent;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .hero .hero-text-wrapper .buttons .learn-more-btn {
    margin: auto;
    border: 2px solid #ffffff;
  }
}
@media screen and (min-width: 992px) {
  .hero .hero-text-wrapper .buttons .learn-more-btn {
    margin: 1rem 0;
    border: 2px solid #ffffff;
  }
}
@media screen and (min-width: 992px) {
  .hero .hero-text-wrapper .buttons {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }
}

/*
SERVICES SECTION 
*/
.services {
  min-height: 100vh;
  display: grid;
}
.services .cta-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .cta-holder .schedule {
  display: block;
  margin: 2rem auto;
  background: #8004CE;
  color: #ffffff;
  font-weight: bold;
}
.services .quote {
  display: grid;
  place-items: center;
  padding: 1rem;
  background: rgba(210, 148, 2, 0.6);
}
.services .quote blockquote {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
  font-size: 1.25rem;
  font-weight: bold;
}
.services .quote blockquote i {
  transform: translateY(-25%);
}
@media screen and (min-width: 992px) {
  .services .quote blockquote {
    font-size: 1.75rem;
  }
}
.services .services-section {
  height: 100%;
}
.services .services-section .individual, .services .services-section .couples, .services .services-section .groups, .services .services-section .evaluations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  background: #3E007F;
  background: transparent;
  color: #ffffff;
  color: black;
  padding: 2rem;
  border: 2px solid #ffffff;
  margin: 1rem;
}
.services .services-section .individual .heading, .services .services-section .individual .icon, .services .services-section .individual .cta-link, .services .services-section .couples .heading, .services .services-section .couples .icon, .services .services-section .couples .cta-link, .services .services-section .groups .heading, .services .services-section .groups .icon, .services .services-section .groups .cta-link, .services .services-section .evaluations .heading, .services .services-section .evaluations .icon, .services .services-section .evaluations .cta-link {
  text-align: center;
}
.services .services-section .individual .icon, .services .services-section .couples .icon, .services .services-section .groups .icon, .services .services-section .evaluations .icon {
  font-size: 2rem;
  padding: 1.75rem;
  color: "Open Sans", sans-serif;
}
.services .services-section .individual .cta-link i, .services .services-section .couples .cta-link i, .services .services-section .groups .cta-link i, .services .services-section .evaluations .cta-link i {
  font-size: 1rem;
  font-weight: bold;
}
.services .services-section .individual .cta-link a, .services .services-section .couples .cta-link a, .services .services-section .groups .cta-link a, .services .services-section .evaluations .cta-link a {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  color: #D29402;
}
.services .services-section .individual .cta-link a:hover, .services .services-section .couples .cta-link a:hover, .services .services-section .groups .cta-link a:hover, .services .services-section .evaluations .cta-link a:hover {
  border: none;
  color: #ffffff;
  transform: scale(1.2);
}
@media screen and (min-width: 992px) {
  .services .services-section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .services .services-section .evaluations {
    transform: translate(115%);
  }
}
@media screen and (min-width: 1400px) {
  .services .services-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .services .services-section .evaluations {
    transform: translate(0);
  }
}
@media screen and (min-width: 992px) {
  .services {
    height: auto;
    margin: 0;
    margin-bottom: 4rem;
  }
}

/*
ABOUT SECTION 
*/
.about {
  height: 100vh;
  width: 100%;
  background-color: #FCFCFD;
  display: flex;
  flex-direction: column;
}
.about .quote blockquote {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
  font-size: 1.25rem;
  font-weight: bold;
}
.about .quote blockquote i {
  transform: translateY(-25%);
}
@media screen and (min-width: 992px) {
  .about .quote blockquote {
    font-size: 1.75rem;
  }
}

.about-article {
  margin: 2rem 0;
  margin: auto;
}

.section-about {
  padding: 3rem 0;
}

.section-about h2 {
  /* background: lightgray; */
  color: #8004CE;
}

.section-about i {
  font-size: 0.7rem;
  transform: translateY(-6px);
}

blockquote {
  padding: 4rem 0;
  text-align: center;
  width: 100%;
  margin-top: 1.5rem;
}

.about-article {
  width: 90vw;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .about-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 3rem;
  }
  .about-article .who, .about-article .what, .about-article .how {
    margin-bottom: 0;
    background: #FCFCFD;
  }
  .about-article .who .learn-more-btn {
    transform: translateY(12px);
  }
  .about-article .logo-wrapper img {
    display: block;
  }
  .about-article .learn-more-btn {
    margin: 0;
  }
}

.logo-wrapper {
  width: 100%;
}

.logo-wrapper img {
  width: 100%;
  display: none;
}

.who, .what, .how {
  display: grid;
  align-items: space-between;
  /* place-items: center; */
  margin-bottom: 4rem;
  border: 3px solid #D29402;
}
.who h3, .what h3, .how h3 {
  transform: translate(10%, -60%);
}
.who .list-holder .learn-more-btn, .what .list-holder .learn-more-btn, .how .list-holder .learn-more-btn {
  display: block;
  text-align: center;
  margin: 0;
}

.who h3, .what h3, .how h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: white;
  width: 200px;
  padding-left: 0.5rem;
  color: #3E007F;
  text-align: center;
}

.who ul, .what ul, .how ul {
  width: 100%;
  /* transform: translateX(100px); */
  list-style-type: square;
  padding: 0 3rem;
}

.who ul li, .what ul li, .how ul li {
  padding: 0.5rem;
}

.how h3 {
  width: 217px;
}

.about .btn {
  margin: 3rem auto;
}

/*
CONTACT 
*/
.contact {
  width: 100%;
  background: #3E007F;
  background-blend-mode: multiply;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.contact-section {
  padding: 3rem 0;
  width: 90vw;
  margin: auto;
}
.contact-section h2 {
  color: white;
}

.contact-modes {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: auto;
  margin-bottom: 7rem;
  border-radius: 8px;
}

.contact-info {
  color: white;
  font-family: #303030;
  width: 100%;
  margin: auto;
  text-align: center;
  height: 100%;
}
.contact-info .cta {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.contact-info .cta a {
  margin-right: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}
.contact-info .schedule {
  background: #D29402;
}

.contact-info address {
  padding-top: 1rem;
}

.contact-info a {
  display: block;
  text-align: left;
  padding: 0.5rem 0;
  color: #D29402;
  font-size: 1rem;
}

.contact-info a:hover {
  font-weight: bold;
  color: white;
}

.contact-info .btn {
  width: 100%;
  margin: 0;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: 100%;
  place-items: center;
}
.contact-container .contact-info {
  height: 100%;
}
.contact-container .map {
  height: 100%;
}
.contact-container .contact-info, .contact-container .map {
  max-width: 500px;
}

.form {
  display: grid;
  width: 100%;
  place-items: center;
}

.map {
  width: 100%;
  height: 100%;
  background: transparent;
}

.map iframe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .contact-modes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }

  .form {
    display: grid;
    place-items: center;
    padding: 2rem;
  }

  .map {
    margin-top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  iframe {
    height: 100%;
  }

  .contact-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    align-items: space-between;
    justify-content: center;
  }
  .contact-container address {
    text-align: left;
    padding-top: 0;
    font-size: 16px;
    letter-spacing: 0.05rem;
  }

  .contact-info {
    margin: 0;
  }
}
.cta a {
  display: block;
  text-align: left;
  float: left;
  margin-right: 2rem;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

/*
FAQ section
*/
.faq {
  /* width: 100%; */
}

.faq-container {
  margin: auto;
  max-width: 1400px;
  width: 90vw;
}

.section-faq h2 {
  color: #3E007F;
}

.img-container {
  width: 100%;
}

.faq-image {
  width: 100%;
  display: block;
}

.questions-container {
  margin-bottom: 3rem;
}

.questions {
  display: grid;
  gap: 2rem;
}

.faq-btn {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.faq-btn:hover {
  transform: rotate(90deg) scale(1.2);
}

.question {
  width: 100%;
  background-color: #fffcfc;
  border-radius: 5px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  align-items: center;
  box-shadow: 2px 1px 20px darkgray;
}

.question-title h4 {
  font-family: "Open Sans", sans-serif;
  color: #303030;
  font-size: 1.2rem;
}

.question-text {
  padding: 2rem;
  border-top: 1px solid darkgray;
  box-shadow: 2px 1px 20px darkgray;
  transition: all 0.75s ease-in-out;
  box-shadow: inset 5px 5px 30px darkgray;
}

.question-text p {
  line-height: 1.7;
}

.question-text span {
  font-weight: bold;
}

/* hide */
.question-text {
  display: none;
}

.close-btn {
  display: none;
}

/* show  */
.show .question-text {
  display: block;
  transition: all 0.75s ease-in-out;
}

.show .close-btn {
  display: inline;
}

.show .open-btn {
  display: none;
}

@media screen and (min-width: 992px) {
  .questions {
    grid-template-columns: 1fr 1fr;
  }
}
/*
footer
*/
footer {
  display: grid;
  place-items: center;
  background: black;
  width: 100%;
  margin: auto;
  padding: 2rem 0;
}
footer small {
  text-align: center;
  padding: 1rem;
  color: lightgray;
}
footer small a:visited, footer small a {
  color: lightgray;
}

.tag {
  color: red;
  display: inline-block;
  align-items: center;
}

.footer {
  width: 90vw;
  line-height: 1.75;
}

.footer-cta {
  display: grid;
  place-items: center;
  width: 100%;
}
.footer-cta .footer-nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  width: auto;
}
.footer-cta .footer-nav .footer-logo {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.footer-cta .footer-nav .footer-logo .logo {
  height: auto;
}
.footer-cta .footer-nav .footer-brand {
  width: 100%;
}
.footer-cta .footer-nav .footer-brand h3 {
  color: #8004CE;
  font-size: 1.5rem;
}
.footer-cta .footer-nav .footer-brand p {
  color: #8004CE;
  font-size: 1rem;
  letter-spacing: 0.2;
}
.footer-cta .btn-footer {
  margin: 2.5rem auto;
}
@media screen and (min-width: 768px) {
  .footer-cta {
    justify-content: flex-start;
  }
}

.footer-links {
  width: 100%;
  margin-bottom: 1.5rem;
}
.footer-links h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 768px) {
  .footer-links h3 {
    text-align: left;
    padding-left: 0;
  }
}
.footer-links .links .nav-link {
  font-size: 1rem;
  letter-spacing: 0.05;
  padding: 0.25rem;
  color: lightgray;
  display: block;
}
.footer-links .links .nav-link:hover {
  color: #D29402;
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1300px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.all-services {
  min-height: 100vh;
  margin-top: 75px;
  overflow: hidden;
  margin-bottom: 3rem;
  position: relative;
  margin: 100 auto;
}
.all-services .alert h3 {
  border: 2px solid white;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background: rgba(210, 148, 2, 0.6);
  color: #3E007F;
}
.all-services .btn-box {
  border-bottom: 1px solid #ccc;
}
.all-services .btn-box .btn-services {
  background: transparent;
  color: #8004CE;
  padding: 0;
  margin: 0;
  text-align: left;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .all-services .btn-box .btn-services {
    height: 4rem;
  }
  .all-services .btn-box .btn-services .active {
    border-bottom: 2px solid #8004CE;
  }
}
@media screen and (min-width: 992px) {
  .all-services .btn-box .btn-services {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .all-services .btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .all-services .btn-box {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.all-services .content {
  position: absolute;
  transform: translateX(150%);
}
.all-services .content .content-left,
.all-services .content .content-right {
  height: 100%;
}
.all-services .content .content-left p {
  padding: 1rem 0;
}
.all-services .content .content-left h2 {
  padding: 1rem 0;
}
.all-services .content .content-left .schedule {
  margin: 2rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .all-services .content .content-left {
    padding: 1rem;
  }
}
.all-services .content .content-right img {
  display: none;
}
@media screen and (min-width: 768px) {
  .all-services .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .all-services .content .content-left {
    flex-basis: 50%;
    height: 100%;
  }
  .all-services .content .content-right {
    flex-basis: 50%;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .all-services .content .content-right img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
  }
}
@media screen and (min-width: 992px) {
  .all-services .content {
    grid-template-columns: 1fr 1fr;
  }
}
.all-services .show-content {
  transform: translateX(0);
  transition: all 0.75s ease-in-out;
  transition-delay: 0.4ms;
}

.bio {
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  background: #FFFAFA;
}
.bio .bio-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
}
.bio .bio-section .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bio .bio-section .img-container .bio-photo {
  width: 100%;
  object-fit: center;
  border-radius: 0.3rem;
}
.bio .bio-section .img-container h3 {
  text-align: center;
  padding: 2rem;
  font-size: 1.3rem;
}
.bio .bio-section .img-container .schedule {
  display: block;
  text-align: center;
  margin: 3rem auto;
}
@media screen and (min-width: 992px) {
  .bio .bio-section .img-container .schedule {
    width: auto;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .bio .bio-section .img-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .bio .bio-section .bio-text-holder {
    width: 100%;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .bio .bio-section {
    grid-template-columns: auto 1fr;
    box-shadow: 2px 1px 20px darkgray;
  }
  .bio .bio-section .img-container {
    padding: 3rem;
    flex-direction: column;
  }
  .bio .bio-section .img-container .schedule {
    width: 100%;
  }
  .bio .bio-section .bio-text-holder {
    padding: 3rem;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
