@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #303030;
}

a:visited,
a:link {
  color: #3E007F;
}

ul {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.underline {
  width: 100px;
  height: 0.25rem;
  background-color: #D29402;
  margin: auto;
  /* transform: translateX(-1.9rem); */
}

.section-title {
  padding: 3rem;
}
.section-title h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #8004CE;
}

.center {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
}

.highlight {
  color: #D29402;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  width: 20rem;
  height: 4rem;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  margin: 1rem;
  border: none;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  transition: all 0.4s linear;
  background: #8004CE;
  color: #ffffff;
}
.btn:hover {
  opacity: 0.5;
}

.learn-more-btn {
  background: transparent;
  border: 2x solid #ffffff;
  text-align: center;
  display: grid;
  place-items: center;
  font-weight: bold;
}
.learn-more-btn:hover {
  background: transparent;
  border: 2px solid #8004CE;
}

.send-message-btn {
  width: 100%;
  height: 50px;
  margin: 1.5rem 0;
  background: transparent;
  border: 2x solid #ffffff;
}
.send-message-btn:hover {
  background: #D29402;
}

/* MOBILE NAVBAR */
.header {
  width: 100%;
}

.center {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 2;
  box-shadow: 1px 1px 5px darkgray;
}

.nav {
  margin: auto;
  height: 100%;
}

.mobile-nav {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  margin: auto;
}

.brand-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.brand-wrapper .brand {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: #3E007F;
}

.brand-wrapper .brand-subtext {
  font-size: 0.8rem;
  display: none;
}

.nav-links {
  width: 100%;
  list-style-type: none;
  background: white;
  overflow: hidden;
  height: 0;
  align-items: center;
  transition: all 0.4s linear;
  /* background-color: var(--accent-1); */
}

.nav-link:hover {
  /* background: var(--accent-1); */
  color: #D29402;
}

/* dropdown menu */
.nav-link, .dropbtn {
  display: block;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.dropdown-content {
  display: none;
  position: static;
  max-width: 100%;
  z-index: 1;
  /* transition: all 6s ease-in-out; */
}

.dropdown-content:hover, .dropdown:hover {
  display: block;
}

.dropdown-content .nav-link {
  /* display: block; */
  width: 100%;
  text-align: left;
  padding-left: 50px;
  margin-left: 50px;
}

/* caret */
.open {
  display: block;
}

.caret-open {
  transform: translateX(10px) rotate(-90deg) scaleX(1.4);
  color: #D29402;
  font-weight: bold;
}

#caret-1, #caret-2 {
  transition: all 0.5s linear;
}

/* to toggle mobile links visibility */
.show-links {
  padding-bottom: 1rem;
  height: auto;
  transition: all 0.4s linear;
}

a:active {
  text-decoration: underline;
}

/* hamburger menu */
.hamburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-btn {
  width: 40px;
  height: 3.5px;
  background: #D29402;
}

.hamburger-btn::before, .hamburger-btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3.5px;
  background: #D29402;
  transition: all 0.75s ease-in-out;
}

.hamburger-btn::before {
  transform: translateY(-12px);
}

.hamburger-btn::after {
  transform: translateY(12px);
}

/* animation to open/close hamburger */
.open-hamburger {
  /* hides middle line when clicked */
  background: transparent;
}

.open-hamburger::before {
  transform: rotate(45deg);
  background: #D29402;
}
.open-hamburger::before:hover {
  transform: scale(1.6);
}

.open-hamburger::after {
  transform: rotate(-45deg);
  background: #D29402;
  color: #3E007F;
}

.logo {
  width: 5.1rem;
  height: 100%;
  cursor: pointer;
  display: block;
  transition: all 0.4s linear;
}

.logo:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .brand-wrapper .brand-subtext {
    display: inline;
  }

  .brand-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .brand-wrapper .brand {
    display: block;
    width: 100%;
    font-size: 1.3rem;
  }

  .navbar {
    width: 100%;
  }

  .nav {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    margin: auto;
  }

  .desktop-nav {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-links {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
  }

  .nav-link {
    font-size: 1.1rem;
    height: 100%;
    letter-spacing: 0.1rem;
  }

  .nav-link:active {
    text-decoration: underline;
  }

  .nav-link:hover {
    color: var(--accent);
    background: transparent;
    /* padding: 1rem 1rem 1rem 1rem; */
    font-weight: bold;
    color: #D29402;
    transition: none;
  }

  .dropdown-content {
    position: fixed;
    background: white;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content .nav-link {
    padding-left: 16px;
  }

  .logo {
    padding-right: 0.5rem;
  }

  /* .brand-text-desktop {
      /* display: flex;
      flex-direction: column; 
  } */
}
/* HERO SECTION */
.hero {
  width: 100%;
  height: 100vh;
  top: 0;
  background: #8004CE;
  background: #3E007F url("/images/hero.jpg") no-repeat fixed right/cover;
  background-blend-mode: multiply;
  display: grid;
  place-items: center;
}

.hero-text-wrapper {
  width: 90vw;
  height: 100%;
  margin: auto;
  display: grid;
  align-content: center;
}

.hero-text {
  color: white;
  text-align: left;
  font-size: 2.9rem;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
  font-family: var(--main-text);
  text-transform: capitalize;
  font-weight: 400;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.buttons .learn-more-btn {
  color: #ffffff;
}
.buttons .learn-more-btn:hover {
  border: 2px solid #ffffff;
  background: transparent;
  opacity: 1;
}

.buttons .btn {
  margin: 1rem 0;
  width: 100%;
}

/*
ABOUT SECTION 
*/
.about {
  width: 100%;
  background-color: #FCFCFD;
  padding-bottom: 4rem;
}

.about-article {
  margin: 2rem 0;
  margin: auto;
}

.section-about {
  padding: 3rem 0;
}

.section-about h2 {
  /* background: lightgray; */
  color: #8004CE;
}

.section-about i {
  font-size: 0.7rem;
  transform: translateY(-6px);
}

blockquote {
  padding: 4rem 0;
  text-align: center;
  width: 100%;
  margin-top: 1.5rem;
}

.about-article {
  width: 90vw;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .about-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 3rem;
  }
  .about-article .who, .about-article .what, .about-article .how {
    margin-bottom: 0;
    background: #FCFCFD;
  }
  .about-article .who .learn-more-btn {
    transform: translateY(12px);
  }
  .about-article .logo-wrapper img {
    display: block;
  }
  .about-article .learn-more-btn {
    margin: 0;
  }
}

.logo-wrapper {
  width: 100%;
}

.logo-wrapper img {
  width: 100%;
  display: none;
}

.who, .what, .how {
  /* position: relative; */
  display: grid;
  align-items: space-between;
  /* place-items: center; */
  margin-bottom: 4rem;
  border: 3px solid #D29402;
}
.who .list-holder .learn-more-btn, .what .list-holder .learn-more-btn, .how .list-holder .learn-more-btn {
  display: block;
  text-align: center;
  margin: 0;
}

.who h3, .what h3, .how h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: white;
  width: 200px;
  padding-left: 0.5rem;
  color: #3E007F;
  text-align: center;
}

.who ul, .what ul, .how ul {
  width: 100%;
  /* transform: translateX(100px); */
  list-style-type: square;
  padding: 0 3rem;
}

.who ul li, .what ul li, .how ul li {
  padding: 0.5rem;
}

.how h3 {
  width: 217px;
}

.about .btn {
  margin: 3rem auto;
}

/*
SERVICES SECTION 
*/
.services {
  min-height: 100vh;
  display: grid;
}
.services .cta-holder {
  width: 100%;
  background-color: #3E007F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.services .cta-holder .schedule {
  display: block;
  margin: 2rem auto;
  background: #D29402;
  color: #3E007F;
  font-weight: bold;
}
.services .quote {
  display: grid;
  place-items: center;
  padding: 1rem;
  background: rgba(210, 148, 2, 0.6);
}
.services .quote blockquote {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
  font-size: 1.25rem;
  font-weight: bold;
}
.services .quote blockquote i {
  transform: translateY(-25%);
}
@media screen and (min-width: 992px) {
  .services .quote blockquote {
    font-size: 1.75rem;
  }
}
.services .services-section {
  height: 100%;
  padding-top: 3rem;
}
.services .services-section .individual, .services .services-section .couples, .services .services-section .groups, .services .services-section .evaluations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  background: #3E007F;
  color: #ffffff;
  padding: 2rem;
  border: 2px solid #ffffff;
  margin: 1rem;
}
.services .services-section .individual .heading, .services .services-section .individual .icon, .services .services-section .individual .cta-link, .services .services-section .couples .heading, .services .services-section .couples .icon, .services .services-section .couples .cta-link, .services .services-section .groups .heading, .services .services-section .groups .icon, .services .services-section .groups .cta-link, .services .services-section .evaluations .heading, .services .services-section .evaluations .icon, .services .services-section .evaluations .cta-link {
  text-align: center;
}
.services .services-section .individual .icon, .services .services-section .couples .icon, .services .services-section .groups .icon, .services .services-section .evaluations .icon {
  font-size: 2rem;
  padding: 1.75rem;
  color: "Open Sans", sans-serif;
}
.services .services-section .individual .cta-link i, .services .services-section .couples .cta-link i, .services .services-section .groups .cta-link i, .services .services-section .evaluations .cta-link i {
  font-size: 1rem;
  font-weight: bold;
}
.services .services-section .individual .cta-link a, .services .services-section .couples .cta-link a, .services .services-section .groups .cta-link a, .services .services-section .evaluations .cta-link a {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  color: #D29402;
}
.services .services-section .individual .cta-link a:hover, .services .services-section .couples .cta-link a:hover, .services .services-section .groups .cta-link a:hover, .services .services-section .evaluations .cta-link a:hover {
  border: none;
  color: #ffffff;
  transform: scale(1.2);
}
@media screen and (min-width: 992px) {
  .services .services-section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 0;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .services {
    height: auto;
    margin: 0;
  }
}

/*
CONTACT 
*/
.contact {
  width: 100%;
  background: #8004CE url(/images/clouds.jpg) center/cover no-repeat;
  background-blend-mode: multiply;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.contact-section {
  padding: 3rem 0;
  width: 90vw;
  margin: auto;
}
.contact-section h2 {
  color: white;
}

.contact-modes {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: auto;
  margin-bottom: 7rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
  background: transparent;
  backdrop-filter: blur(15px) brightness(1.1);
  border-radius: 8px;
}

.contact-info {
  color: white;
  font-family: #303030;
  width: 100%;
  margin: auto;
  text-align: center;
  height: 100%;
}
.contact-info .cta {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.contact-info .cta a {
  margin-right: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}
.contact-info .schedule {
  background: #D29402;
}

.contact-info address {
  padding-top: 1rem;
}

.contact-info a {
  display: block;
  text-align: left;
  padding: 0.5rem 0;
  color: #D29402;
  font-size: 1rem;
}

.contact-info a:hover {
  font-weight: bold;
  color: white;
}

.contact-info .btn {
  width: 100%;
  margin: 0;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: 100%;
  place-items: center;
}
.contact-container .contact-info {
  height: 100%;
}
.contact-container .map {
  height: 100%;
}
.contact-container .contact-info, .contact-container .map {
  max-width: 500px;
}

.contact-container, .form {
  padding: 2rem;
}

.form {
  display: grid;
  width: 100%;
  place-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 500px;
  color: white;
  font-family: "Open Sans", sans-serif;
}
form .send-message-btn {
  box-shadow: 2px 15px 40px rgba(0, 0, 0, 0.7);
  color: #D29402;
  font-weight: bold;
  margin-bottom: 0;
}
form .send-message-btn:hover {
  box-shadow: inset 5px 15px 30px rgba(0, 0, 0, 0.6);
  background: transparent;
  border-bottom: none;
}

form h3 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  letter-spacing: 0.15rem;
}

form input, form textarea {
  color: white;
  padding: 1rem;
  box-shadow: inset 5px 15px 30px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

#form {
  border: none;
  border-bottom: 2px solid "Open Sans", sans-serif;
  background: transparent;
  margin-bottom: 1.5rem;
}

#message {
  background: transparent;
  border: none;
  border-bottom: 2px solid "Open Sans", sans-serif;
}

::placeholder {
  color: white;
  font-family: "Open Sans", sans-serif;
}

/* .send-message {
    width: 100%;
    height: 50px; 
    margin: 1.5rem 0;
    background-color: transparent;
    border: 2px solid white;
}

.send-message:hover {
    background-color: var(--accent)
} */
.map {
  width: 100%;
  height: 100%;
  background: transparent;
}

.map iframe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .contact-modes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }

  .form {
    display: grid;
    place-items: center;
    padding: 2rem;
  }

  .map {
    margin-top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  iframe {
    height: 100%;
  }

  .contact-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    align-items: space-between;
    justify-content: center;
  }
  .contact-container address {
    text-align: left;
    padding-top: 0;
    font-size: 16px;
    letter-spacing: 0.05rem;
  }

  .contact-info {
    margin: 0;
  }
}
.cta a {
  display: block;
  text-align: left;
  float: left;
  margin-right: 2rem;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

/*
FAQ section
*/
.faq {
  /* width: 100%; */
}

.faq-container {
  margin: auto;
  max-width: 1400px;
  width: 90vw;
}

.section-faq h2 {
  color: #3E007F;
}

.img-container {
  width: 100%;
}

.faq-image {
  width: 100%;
  display: block;
}

.questions-container {
  margin-bottom: 3rem;
}

.questions {
  display: grid;
  gap: 2rem;
}

.faq-btn {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.faq-btn:hover {
  transform: rotate(90deg) scale(1.2);
}

.question {
  width: 100%;
  background-color: #fffcfc;
  border-radius: 5px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  align-items: center;
  box-shadow: 2px 1px 20px darkgray;
}

.question-title h4 {
  font-family: "Open Sans", sans-serif;
  color: #303030;
  font-size: 1.2rem;
}

.question-text {
  padding: 2rem;
  border-top: 1px solid darkgray;
  box-shadow: 2px 1px 20px darkgray;
  transition: all 0.75s ease-in-out;
  box-shadow: inset 5px 5px 30px darkgray;
}

.question-text p {
  line-height: 1.7;
}

.question-text span {
  font-weight: bold;
}

/* hide */
.question-text {
  display: none;
}

.close-btn {
  display: none;
}

/* show  */
.show .question-text {
  display: block;
  transition: all 0.75s ease-in-out;
}

.show .close-btn {
  display: inline;
}

.show .open-btn {
  display: none;
}

@media screen and (min-width: 992px) {
  .questions {
    grid-template-columns: 1fr 1fr;
  }
}
/*
footer
*/
footer {
  display: grid;
  place-items: center;
  background: black;
  color: #525252;
  width: 100%;
  margin: auto;
  padding: 1rem 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  width: 90vw;
  place-items: center;
}

.footer-nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-bottom: 1.5rem;
}

.footer-cta {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 1rem;
}

.footer-links {
  width: 100%;
  margin-bottom: 1.5rem;
}

.footer-links h4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1.5rem;
}

.links a {
  font-size: 1rem;
  letter-spacing: 0.05;
  padding: 0.25rem;
  color: lightgray;
  display: block;
}

.links .nav-links:hover {
  color: #D29402;
  background: tr;
}

.footer-cta .logo {
  width: 5rem;
}

.btn-footer {
  width: 100%;
}

.footer-brand {
  padding-left: 0.25rem;
}

.brand-footer {
  font-size: 1.7rem;
}

.p-footer {
  color: #8004CE;
  font-size: 1.15rem;
}

small {
  text-align: center;
  padding: 1rem;
  color: lightgray;
}
small a:visited, small a {
  color: white;
}

.tag {
  color: red;
  display: inline-block;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
.all-services {
  width: 90vw;
  max-width: 1400px;
  min-height: 100vh;
  margin: auto;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}
.all-services .alert h3 {
  text-align: center;
  padding: 2rem;
}

.all-services-section {
  width: 100%;
}

.btn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.btn-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #3E007F;
  font-weight: bold;
  width: 100%;
  margin: 0;
  border-top: 1px solid darkgrey;
  box-shadow: 2px 1px 20px darkgray;
}
.btn-box button:hover {
  text-decoration: underline;
  opacity: 1;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease-in-out;
  box-shadow: 2px 1px 20px darkgray;
  display: none;
}
.content .content-right, .content .content-left {
  width: 100%;
  height: 100%;
}
.content .content-right img, .content .content-left img {
  display: none;
}
.content .content-left {
  height: 100%;
}
.content .content-left p {
  padding: 1rem;
}
.content .content-left h2 {
  padding: 1rem;
}

.show-content {
  display: grid;
}

.btn-box .active {
  border-radius: 0;
  background: #D29402;
}

@media screen and (min-width: 992px) {
  .btn-box {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem 0;
  }
  .btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #3E007F;
    font-weight: bold;
  }
  .btn-box button:hover {
    text-decoration: underline;
    opacity: 1;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    transition: all 0.75s ease-in-out;
  }
  .content .content-left, .content .content-right {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }
  .content .content-left {
    background: white;
  }
  .content .content-left p {
    padding: 1rem;
  }
  .content .content-left h2 {
    padding: 1rem;
  }
  .content .content-right {
    width: 100%;
    padding: 0;
  }
  .content .content-right img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
  }

  .show-content {
    transform: translateX(0);
    transition: all 0.75s ease-in-out;
    transition-delay: 0.4s;
  }
}

/*# sourceMappingURL=style.css.map */
