@use '../base' as *;

.btn {
    width: 20rem;
    height: 4rem;
    text-transform: uppercase;
    display: inline-block;
    text-transform: uppercase;
    margin: 1rem;
    border: none;
    border-radius: $border-radius;
    letter-spacing: $letter-spacing;
    transition: $transition-main;
    background: $lighter-purple;
    color: $white;
    &:hover {
    opacity: $opacity;
    }   
}

.learn-more-btn{
    background: $transparent;
    border: $border2;
    text-align: center;
    display: grid;
    place-items: center;
    font-weight: bold;

    &:hover {
        background: $transparent;
        border: 2px solid $lighter-purple;
    }
}

.send-message-btn {
    // width: 100%;
    height: 50px;
    margin: 1.5rem 0;
    background: $transparent;
    border: $border2;

    &:hover {
        background: $main-accent-clr;
    }
}

.btn-scroll {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    position: fixed;
    right: 20px;
    bottom: 40px;
    background: $lighter-purple;
    color: white;
    font-weight: bold;
}