@use '../base' as *;

form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 600px;
    color: white;
    font-family: $main-text;

    h3 {
        color: $white;
        color: $snowwhite;
        font-family: $main-text;
        padding-bottom: 1.5rem;
        letter-spacing: 0.15rem;
        text-align: center;
    }

   

    label {
        font-weight: bold;
        color: $main-accent-clr;
        padding-bottom: 0.5rem;
        font-size: 1.1rem;
        letter-spacing: $letter-spacing;
    }

    input,
    textarea {
        color: $main-text;
        padding: 1rem;
        background: $snowwhite;
        border-radius: 5px;
    }

    input {
        border: none;
        border-bottom: 2px solid $main-text;
        margin-bottom: 1.5rem;
    }

    textarea {
        border: none;
        border-bottom: 2px solid $main-text;
    }

    ::placeholder {
        font-family: $main-text; 
    }

    .send-message-btn {
        background: $main-accent-clr;
        color: $dark-purple;
        font-weight: bold;
        margin-bottom: 0;
        

        &:hover {
            
        }
    }
}

// [data-secure-field] iframe {
//     border: 1px solid #dfdfdf;
//     height: inherit;
//     width: inherit;
//     vertical-align: middle;
//     position: relative;
//     line-height: 30px;
//     height: 30px;
//     background: $whitesmoke;
// }

// vgs form styling

// span[data-secure-field] {
//   background-color: #fff;
//   border: 1px solid #dfdfdf;
//   display: inline-block;
//   /* height: 27px; */
//   padding: 1px .75rem;
//   position: relative;
// }

span iframe {
  border: 1px solid #dfdfdf;
    height: inherit;
    width: inherit;
    vertical-align: middle;
    position: relative;
    line-height: 30px;
    height: 30px;
    background: $whitesmoke;
}

