@use '../base/' as *;

//hamburger button
.hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .hamburger-btn {
        width: 30px;
        height: 2.5px;
        background: $main-accent-clr;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 2.5px;
            background: $main-accent-clr;
            transition: $transition-hamburger;
        }

        &::before {
            transform: translateY(-9px);
        }

        &::after {
            transform: translateY(9px);
        }
    }

    .open-hamburger {
        background: transparent;

        &::before {
            transform: rotate(45deg);
            background: $main-accent-clr;

            &:hover {
                transform: scale(1.6);
            }
        }

        &::after {
            transform: rotate(-45deg);
            background: $main-accent-clr;
            color: $dark-purple;
        }
    }

    @media screen and (min-width: 1100px){
        display: none;
    }
}