
@use '../base/' as *;

/* MOBILE NAVBAR */

.navbar {
    width: 100%;
    // height: 100%;
    
    //background: rgb(40, 0, 97);
    // z-index: 2;
    // padding: 0.5rem 0;
    // box-shadow: 1px 1px 5px darkgray;
    //  border: 2px solid yellow;
    height: 50px;

    .nav {
        width: 100%;
        height: 100%;
        // padding: 0.5rem 0;
        // display: grid;
        // grid-template-rows: auto auto;
        // place-items: center;
        display: grid;
        // grid-template-columns: 1fr;
        // flex-direction: column;
        // grid-template-rows: auto 1fr;
        // align-items: center;
        // margin: auto;
        // grid-template-columns: 1fr;
    //    border: 2px solid red;

        .nav-header {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-between;
            align-items: center;
            max-width: 90vw;
            margin: auto;
            
            height: 50px;

            .nav-logo {
                width: 4rem;
                height: 100%;
                cursor: pointer;
                display: block;
                transition: $transition-main;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .brand-wrapper {
                display: grid;
                place-items: center;

                .brand {
                    font-size: 1rem;
                    letter-spacing: 0.05rem;
                    color: lightgray;

                    span {
                        display: none;

                        @media screen and (min-width: 1100px) {
                            display: inline;
                            
                        }
                    }
                }
            }
        }

        

        .nav-links {
            width: 100%;
            height: calc(100vh - 75px);
            list-style-type: none;
            background: black;
            overflow: hidden;
            // height: 0;
            align-items: center;
            transition: $transition-main;
            /* background-color: var(--accent-1); */
            padding-top: 2rem; 
            // display: none;
            transform: translateX(100%);
            

            .nav-link {
                display: block;
                font-size: 1rem;
                cursor: pointer;
                text-decoration: none;
                padding: 0.75rem 1.2rem;
                // transition: var(--transition-main);
                text-transform: capitalize;
                letter-spacing: 0.1rem;
                color: $white;
                
                text-align: center;
                padding: 3rem;
                font-size: 1.2rem;
                // font-weight: bold;

                &:hover {
                    color: $main-accent-clr;
                    font-weight: bold;
                }

                @media screen and (min-width: 1100px){
                    text-align: center;
                    font-size: 1rem;
                    font-weight: none;
                    padding: 0.75rem 1.2rem;
                    

                    &:active {
                        text-decoration: underline;
                    }
                }
            }

            @media screen and (min-width: 1100px){
                background: transparent;
                width: 100%;
                display: flex;
                height: 100%;
                justify-content: flex-end;
                padding-top:0; 
                transform: translate(0);
                    
            }
        }

        .show-links {
            // padding-bottom: 0.25rem;
            height: calc(100vh - 50px);
            transition: $transition-main;
            transform: translateX(0);
            
            // margin-top: 1rem;
            // border: 2px solid red;

            @media screen and (min-width: 1100px){
                height: 100%;
                margin-top: 0;
            }

            // @media screen and (min-width: 992px){
            //     height: 100%;
            // }
            
        }

        @media screen and (min-width: 1100px){
            display: grid;
            grid-template-columns: auto 1fr;
            justify-content: space-between;
            margin: auto;
        }
    }
} 
