//_base.scss

//google fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Open+Sans&display=swap');

//colors
$dark-purple: #3E007F;
$lighter-purple: #8004CE;
$main-accent-clr: #D29402;
$text-color: #303030;
$white: #ffffff;
$whitesmoke: #F5F5F5;
$snowwhite: #FFFAFA;
$transparent: transparent;


//fonts
$main-font-size: 1rem;

//transitions
$transition-main:  all 0.4s linear;
$transition-hamburger: all 0.75s ease-in-out;

// variables
$main-text: 'Open Sans', sans-serif;
$heading-text: 'Cinzel', serif;
$border-radius: 0.3rem;
$letter-spacing: 0.1rem;
$opacity: 0.5;
$border: 1px solid $white;
$border2: 2x solid $white;
$box-shadow: 2px 1px 20px darkgray;

body {
    font-family:$main-text;
    font-size: $main-font-size;
    color: $text-color;
}

//links
a:visited, 
a:link {
    color: $white;
}

a:active {
    text-decoration: underline;
}

ul {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.underline {
    width: 100px;
    height: 0.25rem;
    background-color: $main-accent-clr;
    margin: auto;
    /* transform: translateX(-1.9rem); */
}

.section-title {
    padding: 3rem;

    h2 {
        font-family: $main-text;    
        font-size: 3rem;
        text-align: center;
        color: $lighter-purple;
    }
}

.center {
    width: 90vw;
    max-width: 1400px;
    margin: auto;
}

.highlight {
    color: $main-accent-clr;
}